.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.override
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
crash.log
crash.*.log
.terraform.lock.hcl
